<!DOCTYPE html>
<html>
<head>
	<title>Error</title>
	<link rel="stylesheet" type="text/css" href="/css/vendors.min.css">
    <link rel="stylesheet" type="text/css" href="/css/plugins.min.css">
    <link rel="stylesheet" type="text/css" href="/css/site.min.css">
</head>
<body style="background-color:white;margin:0 auto; padding: 20px">
	<h2 class="text-align" style="color:grey;font-family:RobotoLight;">Opps, Something Went Wrong!</h2>
    <h4><%= title %></h4>
    <p><%= message %></p>
    <hr>
    <pre><%= trace %></pre>
</body>
</html>