{
    "appEnv": "local",
    "appKey": "79A35Qwbd4k91jx0O1RnsfHyAoZGpHLb",
    "diskStorage": "s3", 
    "AwsKey": "x",
    "AwsSecret": "x",
    "AwsS3Bucket": "domain",
    "AwsSqsEndpoint": "x",
    "AwsRegion": "elasticmq",
    "firebaseAuthKey": "x",
    "firebaseSenderId": "x",
    "baseUrl": "localhost:3000",
    "cacheDriver": "redis",
    "email_address": "noreply@domain.com",
    "email_from": "No Reply",    
    "redis_port": 6379,
    "redis_host": "localhost",
    "db": {
        "driver": "sqlite",
        "database": "x",
        "host": "x",
        "user": "x",
        "password": "x",
        "port": 27017,
        "multipleStatements": true
    }
}
