<% layout('layout') -%>
<div class="__banner">
	<div class="banner__inner">
	  <a href="<%= URL.route('homesite') %>">Home</a>
	  <a href="<%= URL.route('securesite') %>">Secure</a>
	  <br/>
	  <h2><%= langGet('site.title') %> <span><%= langGet('site.description.caption') %></span></h2>
	</div>
</div>

